#
# Prepare Catalina base directory
#
# If you are running multiple instances of Tomcat on a single host you should set CATALINA_BASE to be equal to the .../tomcat_instance1 or .../tomcat_instance2 directory as appropriate for each instance and the CATALINA_HOME environment variable to the common Tomcat installation whose files will be shared between the two instances.
# The CATALINA_BASE environment is optional if you are running a single Tomcat instance on the host and will default to CATALINA_HOME in that case. If you are running multiple instances as you are it should be provided.
# https://stackoverflow.com/questions/3090398/tomcat-catalina-base-and-catalina-home-variables#8584730

- name: create CATALINA_BASE directory
  file:
      path: "{{ tomcat_catalina_base }}"
      state: directory
      owner: "{{ tomcat_system_user }}"
      group: "{{ tomcat_system_group }}"

- name: create heapdumps directory
  file:
    path: "{{ tomcat_catalina_base }}/heapdumps"
    state: directory
    owner: "{{ tomcat_root_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rwx,o="

- name: create CATALINA_BASE/bin directory
  file:
    path: "{{ tomcat_catalina_base }}/bin"
    state: directory
    owner: "{{ tomcat_root_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rx,o="

- name: create CATALINA_BASE/conf directory
  file:
    path: "{{ tomcat_catalina_base }}/conf"
    state: directory
    owner: "{{ tomcat_root_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rx,o="

- name: create CATALINA_BASE/conf/Catalina directory
  file:
    path: "{{ tomcat_catalina_base }}/conf/Catalina"
    state: directory
    owner: "{{ tomcat_system_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rx,o="

- name: create CATALINA_BASE/logs directory
  file:
    path: "{{ tomcat_catalina_base }}/logs/{{ item }}"
    state: directory
    owner: "{{ tomcat_system_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rwx,o="
  with_items:
  - catalina
  - gc
  - access

- name: create CATALINA_BASE/lib directory
  file:
    path: "{{ tomcat_catalina_base }}/lib"
    state: directory
    owner: "{{ tomcat_root_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rx,o="

- name: create CATALINA_BASE/lib/ext directory
  file:
    path: "{{ tomcat_catalina_base }}/lib/ext"
    state: directory
    owner: "{{ tomcat_root_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rx,o="

- name: create CATALINA_BASE/shared/lib directory
  file:
    path: "{{ tomcat_catalina_base }}/shared/lib"
    state: directory
    owner: "{{ tomcat_root_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rx,o="

- name: create CATALINA_BASE/temp directory
  file:
    path: "{{ tomcat_catalina_base }}/temp"
    state: directory
    owner: "{{ tomcat_system_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rwx,o="

- name: create CATALINA_BASE/webapps directory
  file:
    path: "{{ tomcat_catalina_base }}/webapps"
    state: directory
    owner: "{{ tomcat_root_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rwx,o="

#- name: create CATALINA_HOME/webapps-disabled directory
#  file:
#    path: "{{ tomcat_catalina_home }}/webapps-disabled"
#    state: directory
#    owner: "{{ tomcat_root_user }}"
#    group: "{{ tomcat_system_group }}"
#    mode: "u=rwx,g=rwx,o="

#- name: create CATALINA_BASE/webapps-disabled directory
#  file:
#    path: "{{ tomcat_catalina_base }}/webapps-disabled"
#    state: directory
#    owner: "{{ tomcat_root_user }}"
#    group: "{{ tomcat_system_group }}"
#    mode: "u=rwx,g=rwx,o="

- name: create CATALINA_BASE/work directory
  file:
    path: "{{ tomcat_catalina_base }}/work"
    state: directory
    owner: "{{ tomcat_system_user }}"
    group: "{{ tomcat_system_group }}"
    mode: "u=rwx,g=rwx,o="

- name: symlink catalina script
  file:
    src: "{{ tomcat_catalina_home }}/bin/catalina.sh"
    dest: "{{ tomcat_catalina_base }}/bin/catalina.sh"
    state: link

- name: symlink startup script
  file:
    src: "{{ tomcat_catalina_home }}/bin/startup.sh"
    dest: "{{ tomcat_catalina_base }}/bin/startup.sh"
    state: link

- name: symlink shutdown script
  file:
    src: "{{ tomcat_catalina_home }}/bin/shutdown.sh"
    dest: "{{ tomcat_catalina_base }}/bin/shutdown.sh"
    state: link

- name: 'generate \"{{ item }}\" from template, using the default recommended settings'
  template:
    src: '{{ item }}.j2'
    dest: '{{ tomcat_catalina_base }}/conf/{{ item }}'
  with_items:
  - 'context.xml'
  - 'server.xml'
  - 'web.xml'
  - 'logging.properties'
  - 'tomcat-users.xml'