# {{ ansible_managed }}
{% for item in tomcat_jmx_users %}
{% if tomcat_password_hash in ('sha256', 'sha512') %}
# {{ item.user }}	{{ item.pass | hash( tomcat_password_hash ) }}
{% endif %}
{{ item.user }} {{ item.pass }}
{% endfor %}
