# {{ ansible_managed }}
handlers = 1catalina.org.apache.juli.{{ tomcat_juli_logging_handler }},     \
           2localhost.org.apache.juli.{{ tomcat_juli_logging_handler }},    \
           3manager.org.apache.juli.{{ tomcat_juli_logging_handler }},      \
           4host-manager.org.apache.juli.{{ tomcat_juli_logging_handler }}, \
           java.util.logging.ConsoleHandler

.handlers = 1catalina.org.apache.juli.{{ tomcat_juli_logging_handler }}, \
            java.util.logging.ConsoleHandler

############################################################
# Handler specific properties.
# Describes specific configuration info for Handlers.

1catalina.org.apache.juli.{{ tomcat_juli_logging_handler }}.level = {{ tomcat_juli_logging_level }}
1catalina.org.apache.juli.{{ tomcat_juli_logging_handler }}.directory = ${catalina.base}/logs
1catalina.org.apache.juli.{{ tomcat_juli_logging_handler }}.prefix = catalina.
1catalina.org.apache.juli.{{ tomcat_juli_logging_handler }}.formatter = java.util.logging.SimpleFormatter
1catalina.org.apache.juli.{{ tomcat_juli_logging_handler }}.format ={{ tomcat_juli_logging_format }}

2localhost.org.apache.juli.{{ tomcat_juli_logging_handler }}.level = {{ tomcat_juli_logging_level }}
2localhost.org.apache.juli.{{ tomcat_juli_logging_handler }}.directory = ${catalina.base}/logs
2localhost.org.apache.juli.{{ tomcat_juli_logging_handler }}.prefix = localhost.
2localhost.org.apache.juli.{{ tomcat_juli_logging_handler }}.formatter = java.util.logging.SimpleFormatter
2localhost.org.apache.juli.{{ tomcat_juli_logging_handler }}.format ={{ tomcat_juli_logging_format }}

3manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.level = {{ tomcat_juli_logging_level }}
3manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.directory = ${catalina.base}/logs
3manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.prefix = manager.
3manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.formatter = java.util.logging.SimpleFormatter
3manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.format ={{ tomcat_juli_logging_format }}

4host-manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.level = {{ tomcat_juli_logging_level }}
4host-manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.directory = ${catalina.base}/logs
4host-manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.prefix = host-manager.
4host-manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.formatter = java.util.logging.SimpleFormatter
4host-manager.org.apache.juli.{{ tomcat_juli_logging_handler }}.format ={{ tomcat_juli_logging_format }}

java.util.logging.ConsoleHandler.level = {{ tomcat_juli_logging_level }}
java.util.logging.ConsoleHandler.formatter = java.util.logging.SimpleFormatter
java.util.logging.SimpleFormatter.format ={{ tomcat_juli_logging_format }}

############################################################
# Facility specific properties.
# Provides extra control for each logger.

org.apache.catalina.core.ContainerBase.[Catalina].[localhost].level = INFO
org.apache.catalina.core.ContainerBase.[Catalina].[localhost].handlers = 2localhost.org.apache.juli.{{ tomcat_juli_logging_handler }}

org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/manager].level = INFO
org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/manager].handlers = 3manager.org.apache.juli.{{ tomcat_juli_logging_handler }}

org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/host-manager].level = INFO
org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/host-manager].handlers = 4host-manager.org.apache.juli.{{ tomcat_juli_logging_handler }}

# For example, set the org.apache.catalina.util.LifecycleBase logger to log
# each component that extends LifecycleBase changing state:
#org.apache.catalina.util.LifecycleBase.level = FINE

# To see debug messages in TldLocationsCache, uncomment the following line:
#org.apache.jasper.compiler.TldLocationsCache.level = FINE

# To see debug messages for HTTP/2 handling, uncomment the following line:
#org.apache.coyote.http2.level = FINE

# To see debug messages for WebSocket handling, uncomment the following line:
#org.apache.tomcat.websocket.level = FINE
