# {{ ansible_managed }}
JAVA_HOME={{ java_home }}
{% if tomcat_java_version >= 9 %}
JRE_HOME={{ java_home }}
{% endif %}

JAVA_MIN_HEAP={{ tomcat_java_heap_min }}
JAVA_MAX_HEAP={{ tomcat_java_heap_max }}

{% if tomcat_java_version <= 7 %}
JAVA_MIN_PERMSIZE={{ tomcat_java_permsize_min }}
JAVA_MAX_PERMSIZE={{ tomcat_java_permsize_max }}
{% endif %}

JAVA_THREAD_STACK_SIZE={{ tomcat_java_thread_stack_size }}

CATALINA_OUT="{{ tomcat_catalina_out }}"

{% if tomcat_catalina_parameters != '' %}
CATALINA_OPTS="${CATALINA_OPTS} {{ tomcat_catalina_parameters }}"

{% endif %}
PROCESS_NAME="{{ tomcat_process_name }}"

# http://www.oracle.com/technetwork/java/javase/tech/vmoptions-jsp-140102.html
# http://www.oracle.com/technetwork/java/tuning-139912.html#section4.2.5
# http://www.oracle.com/technetwork/java/javase/tech/largememory-jsp-137182.html

CATALINA_OPTS="${CATALINA_OPTS} -server -Djava.net.preferIPv4Stack=true{% if tomcat_file_encoding %} -Dfile.encoding={{ tomcat_file_encoding }}{% endif %}{% if tomcat_locale_language %} -Duser.language={{ tomcat_locale_language }}{% endif %}{% if tomcat_locale_country %} -Duser.country={{ tomcat_locale_country }}{% endif %}{% if tomcat_locale_region %} -Duser.region={{ tomcat_locale_region }}{% endif %}{% if tomcat_locale_variant %} -Duser.variant={{ tomcat_locale_variant }}{% endif %}"

CATALINA_OPTS="${CATALINA_OPTS} -Xms${JAVA_MIN_HEAP}m -Xmx${JAVA_MAX_HEAP}m -Xmn2g -Xss${JAVA_THREAD_STACK_SIZE}k"
{% if tomcat_java_gc == 'CMSGC' %}
CATALINA_OPTS="${CATALINA_OPTS} -XX:+UseConcMarkSweepGC {{ tomcat_java_gc_cms }}"
{% elif tomcat_java_gc == 'G1GC' %}
CATALINA_OPTS="${CATALINA_OPTS} -XX:+UseG1GC {{ tomcat_java_gc_g1 }}"
{% else %}
CATALINA_OPTS="${CATALINA_OPTS} {{ tomcat_java_gc_other }}"
{% endif %}
{% if tomcat_use_huge_pages == true %}
CATALINA_OPTS="${CATALINA_OPTS} -XX:+UseLargePages"
{% endif %}
{% if tomcat_java_version < 9 %}
CATALINA_OPTS="${CATALINA_OPTS} -Xloggc:'${CATALINA_BASE}/logs/gc/gc_$(date +%Y-%m-%d_%H%M).log' -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCApplicationStoppedTime -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=200 -XX:GCLogFileSize=1G -XX:+PrintHeapAtGC -XX:+PrintTenuringDistribution -XX:+PrintStringDeduplicationStatistics"
{% else %}
CATALINA_OPTS="${CATALINA_OPTS} -Xlog:gc*=debug,heap*=debug,safepoint=debug,age*=debug,stringdedup*=debug,gc+heap=trace:'${CATALINA_BASE}/logs/gc/gc_$(date +%Y-%m-%d_%H%M).log':time,uptime,time,level,tags:filecount=200,filesize=1G"
{% endif %}
CATALINA_OPTS="${CATALINA_OPTS} -XX:+OmitStackTraceInFastThrow -XX:+PrintFlagsFinal"
CATALINA_OPTS="${CATALINA_OPTS} -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=${CATALINA_BASE}/heapdumps"
{% if tomcat_java_version <= 7 %}
CATALINA_OPTS="${CATALINA_OPTS} -XX:PermSize=${JAVA_MIN_PERMSIZE}m -XX:MaxPermSize=${JAVA_MAX_PERMSIZE}m"
{% endif %}

CATALINA_OPTS="${CATALINA_OPTS} -Dprocessname=${PROCESS_NAME}"

CATALINA_OPTS="${CATALINA_OPTS} -Djava.rmi.server.hostname={{ tomcat_jmx_host }} -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port={{ tomcat_jmx_port }} -Dcom.sun.management.jmxremote.rmi.port={{ tomcat_jmx_port }} -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate={% if tomcat_jmx_authenticate == True %}true{% else %}false{% endif %} -Dcom.sun.management.jmxremote.password.file=${CATALINA_BASE}/conf/{{ tomcat_process_name }}.jmxremote.password -Dcom.sun.management.jmxremote.access.file=${CATALINA_BASE}/conf/{{ tomcat_process_name }}.jmxremote.access"

{% if tomcat_debug_enable == true %}
CATALINA_OPTS="${CATALINA_OPTS} {{ tomcat_debug_parameter }}"
{% endif %}

{% if tomcat_enable_logstash == true %}
if [ -r "$CATALINA_BASE/lib/logstash/logstash-gelf-1.11.1.jar" ] ; then
  CLASSPATH=$CLASSPATH:$CATALINA_BASE/lib/logstash/logstash-gelf-1.11.1.jar:$CATALINA_BASE/lib/logstash/json-simple-1.1.jar:$CATALINA_BASE/lib/logstash/jedis-2.8.1.jar:$CATALINA_BASE/lib/logstash/commons-pool2-2.4.2.jar
fi
{% endif %}
