
JAVA_HOME={{ java_home }}

JAVA_MIN_HEAP={{ tomcat_java_heap_min }}
JAVA_MAX_HEAP={{ tomcat_java_heap_max }}

{% if java_version <= 7 %}
JAVA_MIN_PERMSIZE={{ tomcat_java_permsize_min }}
JAVA_MAX_PERMSIZE={{ tomcat_java_permsize_max }}
{% endif %}

{% if tomcat_catalina_parameters != '' %}
CATALINA_OPTS="$CATALINA_OPTS {{ tomcat_catalina_parameters }}"

{% endif %}
PROCESS_NAME="tomcat"

# http://www.oracle.com/technetwork/java/javase/tech/vmoptions-jsp-140102.html
# http://www.oracle.com/technetwork/java/tuning-139912.html#section4.2.5
# http://www.oracle.com/technetwork/java/javase/tech/largememory-jsp-137182.html

CATALINA_OPTS="$CATALINA_OPTS -server -Djava.net.preferIPv4Stack=true -Dfile.encoding=UTF-8"
CATALINA_OPTS="$CATALINA_OPTS -Xms$JAVA_MIN_HEAPm -Xmx$JAVA_MAX_HEAPm -Xmn2g -Xss512k"
CATALINA_OPTS="$CATALINA_OPTS -XX:+UseG1GC -XX:MaxGCPauseMillis=500 -XX:ParallelGCThreads=8 -XX:InitiatingHeapOccupancyPercent=85"
CATALINA_OPTS="$CATALINA_OPTS -XX:+UseLargePages"
CATALINA_OPTS="$CATALINA_OPTS -Xloggc:"$CATALINA_BASE/logs/gc_$(date +%Y-%m-%d_%H%M).log" -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCApplicationStoppedTime -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=5 -XX:GCLogFileSize=256M -XX:-OmitStackTraceInFastThrow -XX:+PrintTenuringDistribution -XX:+PrintFlagsFinal"
CATALINA_OPTS="$CATALINA_OPTS -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=$CATALINA_BASE/heapdumps"
{% if java_version <= 7 %}
CATALINA_OPTS="$CATALINA_OPTS -XX:PermSize=$JAVA_MIN_PERMSIZEm -XX:MaxPermSize=JAVA_MAX_PERMSIZEm"
{% endif %}

CATALINA_OPTS="$CATALINA_OPTS -Dprocessname=${PROCESS_NAME}"

CATALINA_OPTS="$CATALINA_OPTS -Djava.rmi.server.hostname=localhost -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port={{ tomcat_jmx_host }} -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false"

if [ -r "$CATALINA_BASE/shared/lib/logstash/logstash-gelf-1.11.1.jar" ] ; then
  CLASSPATH=$CLASSPATH:$CATALINA_BASE/shared/lib/logstash/logstash-gelf-1.11.1.jar:$CATALINA_BASE/shared/lib/logstash/json-simple-1.1.1.jar:$CATALINA_BASE/shared/lib/logstash/jedis-2.8.1.jar:$CATALINA_BASE/shared/lib/logstash/commons-pool2-2.4.2.jar
fi
