# {{ ansible_managed }}
MAILTO=root

53 01 * * * {{ tomcat_system_user }} find {{ tomcat_catalina_base }}/logs \( -name \*.current -or -name \*.log -or -name \*.txt \) -type f -mtime +2 -print0 | xargs -0 -t -r xz -9 -e -v
