
{% for item in tomcat_error_pages %}
  <error-page>
    <error-code>{{ item }}</error-code>
    <location>/errorpages/{{ item }}.jsp</location>
  <error-page>
{% endfor %}

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
