name: Test Ansible Module

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  test-ansible-molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - non-experimental
        base:
          - bullseye
        engine-version:
          - 19.03-dind
    steps:
      - uses: actions/checkout@v2
      - name: Install Ansible module molecule test
        run: |
          sudo apt install -y python3-dev python3-pip
          docker info
          python3 --version
          pip3 install ansible 'molecule[docker]'
          ansible --version
          molecule test
